<h1>Editing character</h1>

<% form_for(@character) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form' %>
  <%= f.submit 'Update' %>
<% end %>

<%= link_to 'Destroy', @character, :confirm => 'Are you sure you want to destroy this character?', :method => :delete %></td>
<%= link_to 'Show', @character %> |
<%= link_to 'Back', characters_path %>
