- @browser_title = "Summary: " + h(@character.name)

#summary_row_1
  = render :partial => "character_attributes", :locals => { :character => @character }

#summary_row_2
  #abilities_summary
    %h2 Abilities
    %table.infoTable
      %tr
        %th
        %th Score
        %th Mod
        %th Comments
      %tr
        %th STR:
        %td 20
        %td +5
        %td.comments
      %tr
        %th DEX:
        %td 15
        %td +2
        %td.comments -2 Temporary Damage
      %tr
        %th CON:
        %td 17
        %td +3
        %td.comments
      %tr
        %th INT:
        %td 8
        %td -1
        %td.comments
      %tr
        %th WIS:
        %td 14
        %td +2
        %td.comments
      %tr
        %th CHA:
        %td 8
        %td -1
        %td.comments

  #health_summary
    %h2 Hit Points
    %ul
      %li= "Max: " + @character.total_hit_points.to_s
      %li Damage: -15
      %li Subdual: -22
      %li Current: 92
      %li Disabled At: 0
      %li Dying At: -3
      %li Dead At: -16

  #movement_summary
    %h2 Movement
    %ul
      %li Speed: 20/40/80
      %li Initiative: +2
      %li Encumbrance: Medium

  #saves_summary
    %h2 Saving Throws
    %ul
      %li Reflex: 6
      %li Fortitude: 11
      %li Will: 9

#summary_row_3

  = render :partial => "combat", :locals => { :character => @character }

  #magic_summary
    %h2= link_to "Magic & Rites", :action => :spells
    %ul 
      // should really only display this when caster level is > 0
      %li Caster Level: 0
      %li Known Spells: 0 / 0 / 0 / 0 / 0 / 0 / 0 / 0 / 0
      %li Spell Slots: 0 / 0 / 0 / 0 / 0 / 0 / 0 / 0 / 0
      %li Spell Templates: Faen, Dragon
      // end
      %li Combat Rites: 5 / 2 / 0 / 0

#summary_row_4

  #top_items
    %h2= link_to "Favorite Items", :action => :inventory
    %ul
      %li Nethersword
      %li Bearhelm

  #top_skills
    %h2= link_to "Favorite Skills", :action => :skills
    %ul
      %li Intimidate: 9
      %li Jump: 7
      %li Swim: 6
      %li Climb: 5
      %li Balance: 4

  #top_feats
    %h2= link_to "Favorite Feats", :action => :feats
    %ul
      %li Crushing Blow
      %li Power Attack
      %li Combat Reflexes
      %li Rapid Strike

%ul#actions
  %li{:class => "first"}= link_to 'Destroy', @character, :confirm => 'Are you sure?', :method => :delete
  %li{:class => "last"}= link_to 'Back', characters_path
