- @browser_title = "Summary: " + h(@character.name)

#summary_row_1
  = render :partial => "character_attributes", :locals => { :character => @character }

#summary_row_2
  = render :partial => "abilities", :locals => { :character => @character }

  #health_summary
    %h2 Hit Points
    %table.infoTable
      %tr
        %th Max:
        %td= @character.total_hit_points.to_s
      %tr
        %th Damage:
        %td -15
      %tr
        %th Subdual:
        %td -15
      %tr
        %th Current:
        %td.total 92
      %tr
        %th Disabled At:
        %td 0
      %tr
        %th Dying At:
        %td -3
      %tr
        %th Dead At:
        %td -16

  #movement_summary
    %h2 Movement
    %table.infoTable
      %tr
        %th Speed:
        %td 20/40/80
      %tr
        %th Initiative:
        %td +2
      %tr
        %th Encumbrance:
        %td Medium

  #saves_summary
    %h2 Saving Throws
    %table.infoTable
      %tr
        %th Reflex:
        %td 6
      %tr
        %th Fortitude:
        %td 11
      %tr
        %th Will:
        %td 9

#summary_row_3

  = render :partial => "combat", :locals => { :character => @character }

  #magic_summary
    %h2= link_to "Magic & Rites", :action => :spells
    %table.infoTable
      // should really only display this when caster level is > 0
      %tr
        %th Caster Level:
        %td 0
      %tr
        %th Known Spells:
        %td 0 / 0 / 0 / 0 / 0 / 0 / 0 / 0 / 0
      %tr
        %th Spell Slots:
        %td 0 / 0 / 0 / 0 / 0 / 0 / 0 / 0 / 0
      %tr
        %th Spell Templates:
        %td Faen, Dragon
      // end
      %tr
        %th Combat Rites:
        %td 5 / 2 / 0 / 0

#summary_row_4

  #top_items
    %h2= link_to "Favorite Items", :action => :inventory
    %ul
      %li Nethersword
      %li Bearhelm

  #top_skills
    %h2= link_to "Favorite Skills", :action => :skills
    %ul
      %li Intimidate: 9
      %li Jump: 7
      %li Swim: 6
      %li Climb: 5
      %li Balance: 4

  #top_feats
    %h2= link_to "Favorite Feats", :action => :feats
    %ul
      %li Crushing Blow
      %li Power Attack
      %li Combat Reflexes
      %li Rapid Strike

%ul#actions
  %li{:class => "first"}= link_to 'Destroy', @character, :confirm => 'Are you sure?', :method => :delete
  %li{:class => "last"}= link_to 'Back', characters_path
