- @browser_title = "Summary: " + h(@character.name)

#summary_row_1
  = render :partial => "character_attributes", :locals => { :character => @character }

#summary_row_2
  = render :partial => "abilities", :locals => { :character => @character }

  #health_summary
    %h2 Hit Points
    %table.infoTable
      %tr
        %th Max:
        %td.numeric= as_bonus(@character.total_hit_points)
      %tr
        %th Damage:
        %td.numeric -15
      %tr
        %th Subdual:
        %td.numeric -15
      %tr
        %th Current:
        %td.total 92
      %tr
        %th Disabled At:
        %td.numeric 0
      %tr
        %th Dying At:
        %td.numeric -3
      %tr
        %th Dead At:
        %td.numeric -16

  #movement_summary
    %h2 Movement
    %table.infoTable
      %tr
        %th Initiative:
        %td.numeric +2
      %tr
        %th Walk:
        %td.numeric 20
      %tr
        %th Hustle:
        %td.numeric 40
      %tr
        %th Run:
        %td.numeric 80
      %tr
        %th Fly:
        %td.numeric 60
      %tr
        %th Manueverability:
        %td.numeric Average
      %tr
        %th Encumbrance:
        %td.numeric Medium

  #saves_summary
    %h2 Saving Throws
    %table.infoTable
      %tr
        %th Reflex:
        %td.numeric 6
      %tr
        %th Fortitude:
        %td.numeric 11
      %tr
        %th Will:
        %td.numeric 9

#summary_row_3

  = render :partial => "combat", :locals => { :character => @character }

  #magic_summary
    %h2= link_to "Magic & Rites", :action => :spells
    %table.infoTable
      // should really only display this when caster level is > 0
      %tr
        %th Caster Level:
        %td 0
      %tr
        %th Known Spells:
        %td.nowrap 0 / 0 / 0 / 0 / 0 / 0 / 0 / 0 / 0
      %tr
        %th Spell Slots:
        %td.nowrap 0 / 0 / 0 / 0 / 0 / 0 / 0 / 0 / 0
      %tr
        %th Spell Templates:
        %td Faen, Dragon
      // end
      %tr
        %th Combat Rites:
        %td.nowrap 5 / 2 / 0 / 0

#summary_row_4

  #top_items
    %h2= link_to "Favorite Items", :action => :inventory
    %table.infoTable
      %tr
        %th{ :width => "30%" } Nethersword
        %td.comments +2 Greatsword, Conscious
      %tr
        %th Bearhelm
        %td.comments Helm, +1 AC, Conscious

  #top_skills
    %h2= link_to "Favorite Skills", :action => :skills
    %table.infoTable
      %tr
        %th Intimidate:
        %td.numeric 9
      %tr
        %th Jump:
        %td.numeric 7
      %tr
        %th Swim:
        %td.numeric 6
      %tr
        %th Climb:
        %td.numeric 5
      %tr
        %th Balance:
        %td.numeric 4

  #top_feats
    %h2= link_to "Favorite Feats", :action => :feats
    %table.infoTable
      %tr
        %th Crushing Blow
      %tr
        %th Power Attack
      %tr
        %th Combat Reflexes
      %tr
        %th Rapid Strike

%ul#actions
  %li{:class => "first"}= link_to 'Destroy', @character, :confirm => 'Are you sure?', :method => :delete
  %li{:class => "last"}= link_to 'Back', characters_path
