<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->
  <tr>
    <td width="100%" height="725" valign="top">
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <!--DWLayoutTable-->
        <tr>
          <td width="16" height="80">&nbsp;</td>
          <td width="100%" valign="top">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="CharSheetBox">
              <!--DWLayoutTable-->
              <tr>
                <th width="307" height="20" valign="top" class="CharSheetSectionHeading">Character</th>
              </tr>
              <tr>
                <td height="60" valign="top">
                  <table width="100%" border="0">
                  <tr>
                    <td width="10%" class="CharSheetFieldName">Name</td>
                    <td width="40%" colspan="6" class="CharSheetFieldValueLeft">
                      <%= h(@character.name) %> (Truename)
                    </td>
                    <td width="10%" class="CharSheetFieldName">Player</td>
                    <td width="40%" colspan="2" class="CharSheetFieldValueLeft">
                      <%= h(@user.login) %>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="10" class="CharSheetFieldName"><hr /></td>
                  </tr>
                  <tr>
                    <td width="10%" class="CharSheetFieldName">Hair</td>
                    <td width="10%" class="CharSheetFieldValue">
                      <%= h(@character.hair_color) %>
                    </td>
                    <td width="10%" class="CharSheetFieldName">Eyes</td>
                    <td width="10%" class="CharSheetFieldValue">
                      <%= h(@character.eye_color) %>
                    </td>
                    <td width="10%" class="CharSheetFieldName">Skin</td>
                    <td width="10%" class="CharSheetFieldValue">
                      <%= h(@character.skin_color) %>
                    </td>
                    <td width="10%" class="CharSheetFieldName">Age</td>
                    <td width="10%" class="CharSheetFieldValue">
                      <%= h(@character.age) %>
                    </td>
                    <td width="10%" class="CharSheetFieldName">Gender</td>
                    <td width="10%" class="CharSheetFieldValue">
                      <%= h(@character.gender) %>
                    </td>
                  </tr>
                  <tr>
                    <td class="CharSheetFieldName">Height (inches)</td>
                    <td class="CharSheetFieldValue">
                      <%= h(@character.height) %>
                    </td>
                    <td class="CharSheetFieldName">Weight (pounds)</td>
                    <td class="CharSheetFieldValue">
                      <%= h(@character.weight) %>
                    </td>
                    <td class="CharSheetFieldName">Race</td>
                    <td class="CharSheetFieldValue">
                      <%= h(@character.race.name) %>
                    </td>
                    <td class="CharSheetFieldName">Homeland</td>
                    <td colspan="3" class="CharSheetFieldValue">
                      <%= h(@character.homeland) %>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="10" class="CharSheetFieldName"><hr /></td>
                  </tr>
                  <%
                  if ! @character.char_classes.empty?
                    for char_class in @character.char_classes
                  -%>
                      <tr>
                        <td colspan="2" class="CharSheetFieldName"><b>Character Class</b></td>
                        <td colspan="4" class="CharSheetFieldValueLeft">
                          <%= h(char_class.name) %>
                        </td>
                        <td class="CharSheetFieldName"><b>Hit Die</b></td>
                        <td class="CharSheetFieldValue">
                          <%= h(char_class.hit_die) %>
                        </td>
                        <td class="CharSheetFieldName"><b>Level</b></td>
                        <td class="CharSheetFieldValue">
                          <%= h(char_class.level) %>
                        </td>
                      </tr>
                  <%
                    end
                  end
                  %>
                </table></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td height="134">&nbsp;</td>
          <td valign="top">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <!--DWLayoutTable-->
              <tr>
                <td width="166" rowspan="2" valign="top" class="CharSheetBox">
                  <table width="100%" height="100%" border="0">
                    <tr>
                      <th colspan="3" class="CharSheetSectionHeading">Abilities</th>
                    </tr>
                    <%
                      ["STR", "DEX", "CON", "INT", "WIS", "CHA"].each do |abbrev|
                    -%>
                      <tr>
                        <td class="CharSheetFieldName" >
                          <%= h(@character.prop_name(abbrev)) %>
                        </td>
                        <td class="CharSheetFieldValue">
                          <%= h(@character.prop_value(abbrev)) %>
                        </td>
                        <td class="CharSheetFieldValue">
                          <%= h(format_modifier(@character.prop_modifier(abbrev))) %>
                        </td>
                      </tr>
                    <%
                      end
                    %>
                  </table>
                </td>
                <td width="328" height="83" valign="top">
                  <table width="100%" border="0" class="CharSheetBox">
                    <tr>
                      <th colspan="4" class="CharSheetSectionHeading">Hit Points </th>
                      </tr>
                    <tr>
                      <td class="CharSheetFieldName">Total</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName">Disabled</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                    </tr>
                    <tr>
                      <td class="CharSheetFieldName">Dying</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName">Dead</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                    </tr>
                    <tr>
                      <td class="CharSheetFieldName">Wounds:</td>
                      <td colspan="3" class="CharSheetFieldValue">aaaaa</td>
                      </tr>
                    <tr>
                      <td class="CharSheetFieldName">Subdual:</td>
                      <td colspan="3" class="CharSheetFieldValue">aaaaa</td>
                      </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="51" valign="top">
                  <table width="100%" border="0" class="CharSheetBox">
                    <tr>
                      <th colspan="3" class="CharSheetSectionHeading" scope="col">Speed</th>
                      </tr>
                    <tr>
                      <td class="CharSheetFieldName">Initiative</td>
                      <td colspan="2" class="CharSheetFieldValue">aaaaa</td>
                      </tr>
                    <tr>
                      <td colspan="3" class="CharSheetFieldName"><hr /></td>
                    </tr>
                    <tr>
                      <td class="CharSheetFieldName">&nbsp;</td>
                      <td class="CharSheetFieldName"><div align="center">Base</div></td>
                      <td class="CharSheetFieldName"><div align="center">Modified</div></td>
                    </tr>
                    <tr>
                      <td class="CharSheetFieldName">Speed</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td height="78">&nbsp;</td>
          <td valign="top">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="CharSheetBox">
              <!--DWLayoutTable-->
              <tr>
                <td width="307" height="78">
                  <table width="100%" border="0">
                    <tr>
                      <th colspan="8" class="CharSheetSectionHeading" scope="col">Saving Throws </th>
                      </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td class="CharSheetFieldName"><div align="center">Total</div></td>
                      <td><div align="center"></div></td>
                      <td class="CharSheetFieldName"><div align="center">Base</div></td>
                      <td><div align="center"></div></td>
                      <td class="CharSheetFieldName"><div align="center">Ability</div></td>
                      <td><div align="center"></div></td>
                      <td class="CharSheetFieldName"><div align="center">Misc</div></td>
                    </tr>
                    <tr>
                      <td class="CharSheetFieldName">Reflex (DEX)</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName"><div align="center">=</div></td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName"><div align="center">+</div></td>
                      <td class="CharSheetFieldValue"><%= h(format_modifier(@character.prop_modifier("DEX"))) %></td>
                      <td class="CharSheetFieldName"><div align="center">+</div></td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                    </tr>
                    <tr>
                      <td class="CharSheetFieldName">Fortitude (CON) </td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName"><div align="center">=</div></td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName"><div align="center">+</div></td>
                      <td class="CharSheetFieldValue"><%= h(format_modifier(@character.prop_modifier("CON"))) %></td>
                      <td class="CharSheetFieldName"><div align="center">+</div></td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                    </tr>
                    <tr>
                      <td class="CharSheetFieldName">Will (WIS) </td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName"><div align="center">=</div></td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName"><div align="center">+</div></td>
                      <td class="CharSheetFieldValue"><%= h(format_modifier(@character.prop_modifier("WIS"))) %></td>
                      <td class="CharSheetFieldName"><div align="center">+</div></td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td height="93">&nbsp;</td>
          <td valign="top">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="CharSheetBox">
              <!--DWLayoutTable-->
              <tr>
                <td width="100%" height="93">
                  <table width="100%" border="0"><!--DWLayoutTable-->
                    <tr>
                      <th colspan="15" class="CharSheetSectionHeading" scope="col">Armor Class </th>
                      </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td class="CharSheetFieldName">Armor</td>
                      <td>&nbsp;</td>
                      <td class="CharSheetFieldName">Shield</td>
                      <td>&nbsp;</td>
                      <td class="CharSheetFieldName">DEX</td>
                      <td>&nbsp;</td>
                      <td class="CharSheetFieldName">Size</td>
                      <td>&nbsp;</td>
                      <td class="CharSheetFieldName">Misc</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td width="100%">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="CharSheetFieldName">AC</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName">=&nbsp;10&nbsp;+</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName">+</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName">+</td>
                      <td class="CharSheetFieldValue"><%= h(format_modifier(@character.prop_modifier("DEX"))) %></td>
                      <td class="CharSheetFieldName">+</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName">+</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td>&nbsp;</td>
                      <td class="CharSheetFieldName">DR</td>
                      <td class="CharSheetFieldValue">aa/aa</td>
                    </tr>
                    <tr>
                      <td class="CharSheetFieldName">Touch</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName">Flat-footed</td>
                      <td colspan="2" class="CharSheetFieldValue">aaaaa</td>
                      <td colspan="2" class="CharSheetFieldName">Max Dex</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td colspan="3" class="CharSheetFieldName">Check Penalty </td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td colspan="2" class="CharSheetFieldName">Spell Failure </td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="CharSheetFieldName">Armor Type </td>
                      <td colspan="5" class="CharSheetFieldValueLeft">aaaaa</td>
                      <td colspan="3" class="CharSheetFieldName">Shield Type </td>
                      <td colspan="5" class="CharSheetFieldValueLeft">aaaaa</td>
                    </tr>
                    <tr>
                      <td colspan="1" class="CharSheetFieldName">Notes</td>
                      <td colspan="14" class="CharSheetFieldValueLeft">aaaaa</td>
                    </tr>
                    <tr>
                      <td height="3">
                          <%= image_tag("spacer.gif" , :size => "37x1" ) %>
                      </td>
                      <td><%= image_tag("spacer.gif" , :size => "35x1" ) %></td>
                      <td><%= image_tag("spacer.gif" , :size => "44x1" ) %></td>
                      <td><%= image_tag("spacer.gif" , :size => "39x1" ) %></td>
                      <td><%= image_tag("spacer.gif" , :size => "10x1" ) %></td>
                      <td><%= image_tag("spacer.gif" , :size => "39x1" ) %></td>
                      <td><%= image_tag("spacer.gif" , :size => "10x1" ) %></td>
                      <td><%= image_tag("spacer.gif" , :size => "35x1" ) %></td>
                      <td><%= image_tag("spacer.gif" , :size => "10x1" ) %></td>
                      <td><%= image_tag("spacer.gif" , :size => "35x1" ) %></td>
                      <td><%= image_tag("spacer.gif" , :size => "10x1" ) %></td>
                      <td><%= image_tag("spacer.gif" , :size => "35x1" ) %></td>
                      <td><%= image_tag("spacer.gif" , :size => "7x1" ) %></td>
                      <td><%= image_tag("spacer.gif" , :size => "35x1" ) %></td>
                      <td></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td height="92">&nbsp;</td>
          <td valign="top">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="CharSheetBox">
              <!--DWLayoutTable-->
              <tr>
                <td width="307" height="92">
                  <table width="100%" border="0">
                    <tr>
                      <th colspan="10" class="CharSheetSectionHeading" scope="col">Attacks</th>
                      </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td class="CharSheetFieldName">BAB</td>
                      <td class="CharSheetFieldName">&nbsp;</td>
                      <td class="CharSheetFieldName">Ability</td>
                      <td class="CharSheetFieldName">&nbsp;</td>
                      <td class="CharSheetFieldName">Size</td>
                      <td class="CharSheetFieldName">&nbsp;</td>
                      <td class="CharSheetFieldName">Misc</td>
                    </tr>
                    <tr>
                      <td class="CharSheetFieldName">Melee</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName">=</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName">+</td>
                      <td class="CharSheetFieldValue"><%= h(format_modifier(@character.prop_modifier("STR"))) %></td>
                      <td class="CharSheetFieldName">+</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName">+</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                    </tr>
                    <tr>
                      <td class="CharSheetFieldName">Ranged</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName">=</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName">+</td>
                      <td class="CharSheetFieldValue"><%= h(format_modifier(@character.prop_modifier("DEX"))) %></td>
                      <td class="CharSheetFieldName">+</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName">+</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                    </tr>
                    <tr>
                      <td class="CharSheetFieldName">Grapple</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName">=</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName">+</td>
                      <td class="CharSheetFieldValue"><%= h(format_modifier(@character.prop_modifier("STR"))) %></td>
                      <td class="CharSheetFieldName">+</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName">+</td>
                      <td class="CharSheetFieldValue">aaaaa</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="CharSheetFieldName">Trip</td>
                      <td colspan="2" class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName">Sunder</td>
                      <td colspan="2" class="CharSheetFieldValue">aaaaa</td>
                      <td colspan="2" class="CharSheetFieldName">Subdual</td>
                      <td colspan="2" class="CharSheetFieldValue">aaaaa</td>
                      </tr>
                    <tr>
                      <td class="CharSheetFieldName">Disarm</td>
                      <td colspan="2" class="CharSheetFieldValue">aaaaa</td>
                      <td class="CharSheetFieldName">Bullrush</td>
                      <td colspan="2" class="CharSheetFieldValue">aaaaa</td>
                      <td colspan="2" class="CharSheetFieldName">Shield</td>
                      <td colspan="2" class="CharSheetFieldValue">aaaaa</td>
                      </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td height="1">
            <%= image_tag("spacer.gif" , :size => "34x1" ) %>
          </td>
          <td></td>
        </tr>
      </table>
    </td>
    <td width="131" valign="top">
      <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
        <!--DWLayoutTable-->
        <tr align="left" valign="top">
          <td width="100%" height="100%">
            <%= image_tag("HawkTotemWarrior.png" , :size => "131x218" ) %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="0"></td>
    <td></td>
  </tr>
  <tr>
    <td height="1"></td>
    <td><%= image_tag("spacer.gif" , :size => "131x1" ) %></td>
  </tr>
</table>

<br />

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>